<%= simple_form_for @tracker,  html: { multipart: true }  do |f| %>
  <% if @tracker.errors.any? %>
    <div id="errors">
      <h2>
        <%= pluralize(@tracker.errors.count, "error") %>
        prevented this Task from saving
      </h2>
      <ul>
        <% @tracker.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
   <%= f.date_select :date %>  
</div>
  
  <div class="form-group">
    <%= f.input :task, as: :text, input_html: { class: 'form-control' } %>
  </div>
    
       <div class="form-group">
           <%= f.simple_fields_for :subtrackers do |subtracker| %>
              <%= render 'subtracker_fields', f: subtracker %>
            <% end %>
           <div class="links">
            <%= link_to_add_association 'Add subtask', f, :subtrackers, class: "btn btn-primary add-button" %>
           </div>
        </div>

  <div class="form-group">
    <%= f.input :hours, as: :string, input_html: { class: 'form-control' } %>
  </div>

  <div class="form-group">
    <span class="inline">
     <%= f.input :flag, as: :radio_buttons, collection: ['Inprogress', 'Incompleted', 'Completed'] %>
     </span>
   </div>
  

   <div class="form-group">
        <%= f.file_field :avatar %>
  </div>
   
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>

  

