<%= simple_form_for @tracker,  html: { multipart: true }  do |f| %>
  <% if @tracker.errors.any? %>
    <div id="errors">
      <h2>
        <%= pluralize(@tracker.errors.count, "error") %>
        prevented this Task from saving
      </h2>
      <ul>
        <% @tracker.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
    <%= f.date_select :date, input_html: { class: 'form-control' } %>
  </div>
  
  <div class="form-group">
    <%= f.input :task, as: :text, input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.input :hours, input_html: { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.hidden_field :running_total %>
  </div>
  
   <div class="form-group">
     <%= f.file_field :document  %>
   </div>
   <div class="form-group">
    <%= f.file_field :avatar %>
  </div>
   
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>

  

