<div class="row" id="pin_show">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>
      <b>Created Date:</b>   <%= @tracker.created_at.to_date %>
        </p>
        <p>
      <b>Task:</b>  <%= @tracker.task %>
        </p>

        <ol class="style">
          <% @tracker.subtrackers.each do |subtracker| %>
            <li class="subtask">
            <div>
              <b>Subtasks:</b><p><%= subtracker.subtask %></p>
              </div>
              <div>
              <b>Subtask Hours:</b><p><%= subtracker.hours %></p>
              </div>
              <div>
              <b>Subtask Status:</b><p> <%= subtracker.status %></p>
              </div>              
            </li>
          <% end %>
          </ol>

      
      <p><b>Task Total Hours:</b> <%= @tracker.hours %></p>
      <p><b>Overall Task Status:</b> <%= @tracker.status %></p>  
        
       <% if @tracker.avatar.file? %>
            <%= image_tag @tracker.avatar.url(:medium) %>
          <% else %>
        <% end %>
        </p>  

      <div class="panel-footer">
        <div class="row">
          <div class="col-md-6">
            <div>
              <% if user_signed_in? %>
               <% if can? :update, @tracker %>
                <%= link_to "Edit", edit_tracker_path, class: "btn btn-primary" %>
                <% end %>
                <% if can? :destroy, @tracker %>
                <%= link_to "Delete", tracker_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
               <% end %>  
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
